@import '../../../../styles/settings.scss';

.container {
  display: flex;
  margin-top: 100px;

  .productBox {
    flex: 3 1;
    border-right: 1px solid $color-section1;
    display: flex;
    flex-wrap: wrap;

    .productPictures {
      flex: 5;
    }

    .productInfo {
      flex: 2;
      padding: 0 15px;

      p {
        color: $color-text;
        margin: 0;
        font-weight: bold;
      }
    }

    .productDescription {
      flex: 100%;
      padding: 0 15px;
      margin-top: 20px;
    }
  }

  .productPrice {
    flex: 1 1;
    padding: 0 20px;
    margin-top: 20px;

    .priceBox {
      display: flex;
      align-items: center;
      justify-content: space-around;
      font-size: $extra-large-size;
      font-weight: bold;

      .oldPrice {
        text-decoration: line-through;
      }

      .cardSalePrice {
        font-size: $extra-large-size;
        color: $color-text-promotion;
      }
    }

    .addToCartButton {
      width: 100%;
    }

    .inputBox {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: 20px;

      & > button {
        margin: 0 10px;
      }

      .cartQuantity {
        text-align: center;
        padding: 0 15px;
        border: 2px solid $color-border;
        border-radius: $radius;
      }
    }
  }
}

@media (max-width: 991px) {
  .container {
    .productBox {
      .productPictures {
        max-width: 350px;
      }
      .productInfo {
        margin-top: 20px;
      }
    }

    .productPrice .priceBox {
      flex-direction: column;
    }
  }
}

@media (max-width: 574px) {
  .container {
    flex-direction: column;
    align-items: center;

    .productBox {
      border-right: none;
      flex-direction: column;
      align-items: center;

      .productPictures {
        max-width: 400px;
      }
    }

    .productPrice .priceBox {
      align-items: center;
      flex-direction: column;
    }
  }
}

@media (max-width: 450px) {
  .container {
    .productBox {
      .productPictures {
        max-width: 300px;
      }
    }
  }
}
