@import '../../../../styles/settings.scss';

.container {
  padding: 0 10px;
  width: 350px;

  .title {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;

    h2 {
      font-size: $medium-size;
      margin: 0;
    }
  }

  .cart {
    border: solid 1px $color-border;
    border-radius: $radius;
    padding: 10px;

    .moreProductsIndicator {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      font-size: $medium-size;
      font-weight: bold;
    }
  }

  .totalPrice {
    margin: 10px 0;
    display: flex;
    align-items: center;

    h3 {
      font-size: $large-size;
      margin: 0 15px 0 0;
    }

    p {
      font-size: $large-size;
      margin: 0;
      font-weight: bold;
      letter-spacing: 2px;
    }
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

.emptyCart {
  display: flex;
  justify-content: center;
}
