.formLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  width: 250px;

  .inputBox {
    margin-bottom: 20px;
  }

  button {
    margin-top: 10px;
  }
}
