.dropdown-menu.show {
  display: flex !important;
  flex-direction: column !important;
  padding: 10px;
}

.dropdown-menu.show > a {
  margin: 5px 0;
}

.dropdown-menu.show > a:hover {
  color: rgb(53, 53, 223);
}