@import '../../../../styles/settings.scss';

.container {
  .titleBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 20px;

    .cartIcon {
      color: $color-text-danger;
      text-transform: uppercase;
      cursor: pointer;

      & > svg {
        margin-right: 10px;
        font-size: $extra-large-size;
      }
    }

    h2 {
      font-size: $extra-large-size;
      font-weight: 600;
      margin: 0;
    }
  }

  .columnNames {
    display: flex;

    .columnProduct {
      flex: 4;
    }

    .columnPrice {
      flex: 1;
    }

    .columnQuantity {
      flex: 1;
    }
  }

  .totalPriceBox {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      font-size: $slide-font-size;
      font-weight: 600;
      margin: 0;
    }

    .totalPrice {
      font-size: $large-size;
      font-weight: 600;
      margin: 0 20px;
    }

    & > button {
      width: 200px;
    }
  }
}

@media (max-width: 768px) {
  .container {
    .titleBox {
      margin: 20px 10px;

      h2 {
        font-size: $large-size;
      }

      .cartIcon {
        font-size: $large-size;
        & > svg {
          font-size: $large-size;
        }
      }
    }

    .columnNames {
      display: none;
    }

    .totalPriceBox {
      h3 {
        font-size: $extra-large-size;
      }

      .totalPrice {
        font-size: $medium-size;
      }

      & > button {
        font-size: $medium-size;
        width: 100px;
      }
    }
  }
}

@media (max-width: 390px) {
  .container {
    .titleBox {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 20px 10px;

      h2 {
        font-size: $medium-size;
      }

      .cartIcon {
        font-size: $medium-size;
        & > svg {
          font-size: $medium-size;
        }
      }
    }

    .columnNames {
      display: none;
    }

    .totalPriceBox {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      h3 {
        font-size: $large-size;
      }

      .totalPrice {
        font-size: $medium-size;
      }

      & > button {
        font-size: $medium-size;
        width: 100px;
        margin-top: 20px;
      }
    }
  }
}
