@import '../../../styles/settings.scss';

.card {
  border-radius: $radius;
  width: 250px;
  height: 400px;
  background-color: $color-background-light;
  box-shadow: $shadow;
  transition: $transition;
  display: flex;
  flex-direction: column;
  position: relative;

  &:hover {
    transform: translateY(-0.5rem);
    box-shadow: $shadow;
  }

  .cardPlatform {
    border: 1px solid $color-border;
    border-radius: $radius;
    color: $color-text-light;
    text-align: center;

    .platformName {
      margin-right: 10px;
    }
  }

  .windows {
    background-color: $colorWindows;
    border: solid 1px $colorWindows;
  }

  .xbox {
    background-color: $colorXbox;
    border: solid 1px $colorXbox;
  }

  .playstation {
    background-color: $colorPlaystation;
    border: solid 1px $colorPlaystation;
  }

  .nintendo {
    background-color: $colorNintendo;
    border: solid 1px $colorNintendo;
  }

  .cardImg {
    background-color: $color-background-lightest;
    border-radius: $radius;
    height: 50%;
    text-align: center;
    padding: 10px;
    margin: 10px;

    img {
      height: 100%;
      object-fit: contain;
      width: 100%;
    }
  }

  .cardBody {
    margin: 10px;
    display: flex;
    height: 32%;
    flex-direction: column;
    justify-content: space-between;

    .cardTitle {
      text-align: center;
      font-size: $large-size;
      font-weight: bold;
      margin: 0 0 10px 0;
    }

    .priceBox {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      font-size: $medium-size;
      font-weight: bold;

      .oldPrice {
        text-decoration: line-through;
      }

      .cardSalePrice {
        font-size: $extra-large-size;
        color: $color-text-promotion;
      }
    }

    .inStockBox {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 10px;
      transition: $transitionLong;

      .stockText {
        font-size: $small-size;
        flex: 1;
        margin: 0;
      }

      .stockBarContainer {
        width: 100%;
        height: 10px;
        border-radius: 5px;
        background-color: #e0e0e0;
        overflow: hidden;
        flex: 2;

        .stockBar {
          height: 100%;
          border-radius: 5px;
          transition: width 0.3s ease;

          &.green {
            background: linear-gradient(90deg, green 100%, #e0e0e0 100%);
          }
          &.yellow {
            background: linear-gradient(90deg, lightgreen 80%, #e0e0e0 80%);
          }
          &.orange {
            background: linear-gradient(90deg, orange 40%, #e0e0e0 40%);
          }
          &.red {
            background: linear-gradient(90deg, red 5%, #e0e0e0 5%);
          }
        }
      }
    }

    .buttons {
      position: absolute;
      display: flex;
      bottom: -10%;
      opacity: 0;
      transition: $transitionLong;
      width: 90%;

      .cartButton {
        text-transform: uppercase;
        flex: 2;
        margin-right: 10px;
        border: 2px solid;
        transition: $transitionLong;

        svg {
          margin-left: 10px;
        }

        &:hover {
          background-color: $color-background-light;
        }

        &:hover.xbox {
          color: $colorXbox;
          border: solid 2px $colorXbox;
        }

        &:hover.playstation {
          color: $colorPlaystation;
          border: solid 2px $colorPlaystation;
        }

        &:hover.nintendo {
          color: $colorNintendo;
          border: solid 2px $colorNintendo;
        }

        &:hover.windows {
          color: $colorWindows;
          border: solid 2px $colorWindows;
        }
      }

      .cartQuantity {
        text-align: center;
        padding: 0 15px;
        border: 2px solid $color-border;
        border-radius: $radius;
        margin-right: 10px;
      }

      .showMoreplaystation {
        font-size: $medium-size;
        color: $colorPlaystation;
        background-color: $color-background-light;
        border: solid 2px $colorPlaystation;
        transition: $transitionLong;

        &:hover {
          color: $color-background-light;
          background-color: $colorPlaystation;
        }
      }

      .showMorexbox {
        font-size: $medium-size;
        color: $colorXbox;
        background-color: $color-background-light;
        border: solid 2px $colorXbox;
        $transition: $transitionLong;

        &:hover {
          color: $color-background-light;
          background-color: $colorXbox;
        }
      }

      .showMorenintendo {
        font-size: $medium-size;
        color: $colorNintendo;
        background-color: $color-background-light;
        border: solid 2px $colorNintendo;
        $transition: $transitionLong;

        &:hover {
          color: $color-background-light;
          background-color: $colorNintendo;
        }
      }

      .showMorewindows {
        font-size: $medium-size;
        color: $colorWindows;
        background-color: $color-background-light;
        border: solid 2px $colorWindows;
        $transition: $transitionLong;

        &:hover {
          color: $color-background-light;
          background-color: $colorWindows;
        }
      }
    }
  }

  &:hover {
    .buttons {
      bottom: 1%;
      opacity: 1;
    }

    .inStockBox {
      opacity: 0;
    }
  }
}

.noInSwiper {
  margin: 20px 10px;
}

@media (max-width: 768px) {
  .card {
    width: 200px;
    height: 350px;

    .cardImg {
      height: 50%;
      padding: 5px 0;
      margin: 5px;
    }

    .cardBody {
      height: 32%;

      .cardTitle {
        font-size: $medium-size;
        margin: 0 0 5px 0;
      }

      .priceBox {
        font-size: $small-size;

        .cardSalePrice {
          font-size: $large-size;
        }
      }

      .inStockBox {
        .stockBarContainer {
          height: 7px;
        }
      }

      .buttons {
        .cartButton {
          font-size: $small-size;
        }

        .cartQuantity {
          font-size: $small-size;
        }

        .showMoreplaystation {
          font-size: $small-size;
        }

        .showMorexbox {
          font-size: $small-size;
        }

        .showMorenintendo {
          font-size: $small-size;
        }

        .showMorewindows {
          font-size: $small-size;
        }
      }
    }
  }
}

@media (max-width: 499px) {
  .noInSwiper {
    margin: 10px 5px;
  }
}

@media (max-width: 468px) {
  .card {
    margin: auto;
  }

  .noInSwiper {
    margin: 10px 5px;
  }
}

@media (max-width: 467px) {
  .card {
    width: 250px;
    height: 400px;

    .cardImg {
      height: 50%;
      padding: 10px 0;
      margin: 10px;
    }

    .cardBody {
      height: 32%;

      .cardTitle {
        font-size: $large-size;
        margin: 0 0 10px 0;
      }

      .priceBox {
        font-size: $medium-size;

        .cardSalePrice {
          font-size: $extra-large-size;
        }
      }

      .inStockBox {
        .stockBarContainer {
          height: 10px;
        }
      }

      .buttons {
        .cartButton {
          font-size: $medium-size;
        }

        .cartQuantity {
          font-size: $medium-size;
        }

        .showMoreplaystation {
          font-size: $medium-size;
        }

        .showMorexbox {
          font-size: $medium-size;
        }

        .showMorenintendo {
          font-size: $medium-size;
        }

        .showMorewindows {
          font-size: $medium-size;
        }
      }
    }
  }
}
