@import '../../../styles/settings.scss';

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: $iconSize;
  padding: 50px 0 100px;

  .hoverIconStyles {
    border: solid 2px $color-background;
    color: $color-background;
    transition: $transitionLong;
  }

  .iconBox {
    text-align: center;
    z-index: 1;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    cursor: pointer;

    &:hover.windows {
      @extend .hoverIconStyles;
      background-color: $colorWindows;
    }

    &:hover.xbox {
      @extend .hoverIconStyles;
      background-color: $colorXbox;
    }

    &:hover.playstation {
      @extend .hoverIconStyles;
      background-color: $colorPlaystation;
    }

    &:hover.nintendo {
      @extend .hoverIconStyles;
      background-color: $colorNintendo;
    }
  }

  p {
    font-size: $large-size;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
    margin-top: 10px;
  }

  .textXbox {
    color: $colorXbox;
  }

  .textPS {
    color: $colorPlaystation;
  }

  .textNS {
    color: $colorNintendo;
  }

  .textWin {
    color: $colorWindows;
  }

  .windows {
    border: solid 2px $colorWindows;
    color: $colorWindows;
    background-color: $color-background;
  }

  .xbox {
    border: solid 2px $colorXbox;
    color: $colorXbox;
    background-color: $color-background;
  }

  .playstation {
    border: solid 2px $colorPlaystation;
    color: $colorPlaystation;
    background-color: $color-background;
  }

  .nintendo {
    border: solid 2px $colorNintendo;
    color: $colorNintendo;
    background-color: $color-background;
  }
}
