.fadeOut {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.fadeIn {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.thumbsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}
