@import '../../../styles/settings.scss';

.menuContainer {
  position: relative;

  .navbar {
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translate(-50%, 25%);
    width: 90%;
    max-width: 1200px;
    padding: 0 40px;
    border-radius: $radius-large;
    box-shadow: $shadow;
    border: 1px solid $color-border;
    background-color: $main-menu-color-background;

    .basic_nav_dropdown > a {
      color: $color-text-light;
    }

    .rightSide > a {
      color: $color-text-light;
    }

    .logo {
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-right: 50px;
      font-family: $font-header;
      color: $color-text-light;
    }

    .basic_navbar_nav {
      font-size: $medium-size;

      .searchContainer {
        display: flex;
        margin-right: 20px;

        input {
          margin-right: 10px;
        }
      }
    }

    .basic_nav_dropdown {
      div:first-of-type {
        right: 200px;
        left: -50px;
        min-width: 200px;
        padding: 5px 20px;
      }

      .formLogin {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        button {
          margin-top: 10px;
        }
      }
    }
  }
}
