@import '../../../styles/settings.scss';

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: $iconSize;
  padding: 50px 0 100px;

  .hoverIconStyles {
    border: solid 2px $color-background-light;
    color: $color-background-light;
    transition: $transitionLong;
  }

  .iconBox {
    text-align: center;
    z-index: 1;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    cursor: pointer;
    margin: 10px;

    &:hover.windows {
      @extend .hoverIconStyles;
      background-color: $colorWindows;
    }

    &:hover.xbox {
      @extend .hoverIconStyles;
      background-color: $colorXbox;
    }

    &:hover.playstation {
      @extend .hoverIconStyles;
      background-color: $colorPlaystation;
    }

    &:hover.nintendo {
      @extend .hoverIconStyles;
      background-color: $colorNintendo;
    }

    &:hover.iconBoxAll {
      @extend .hoverIconStyles;
      background-color: $colorAllGames;

      svg {
        color: $color-background-light;
        transition: $transitionLong;
      }
    }
  }

  .iconBoxAll {
    @extend .iconBox;
    border: solid 2px $colorAllGames;
    color: $colorAllGames;
    background-color: $color-background-light;
    font-size: $extra-large-size;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    svg {
      flex: 50%;
    }

    & > .ns {
      color: $colorNintendo;
    }

    & > .ps {
      color: $colorPlaystation;
    }

    & > .win {
      color: $colorWindows;
    }

    & > .x {
      color: $colorXbox;
    }
  }

  .textAll {
    color: $colorAllGames;
  }

  p {
    font-size: $large-size;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
    margin-top: 10px;
  }

  .textXbox {
    color: $colorXbox;
  }

  .textPS {
    color: $colorPlaystation;
  }

  .textNS {
    color: $colorNintendo;
  }

  .textWin {
    color: $colorWindows;
  }

  .windows {
    border: solid 2px $colorWindows;
    color: $colorWindows;
    background-color: $color-background-light;
  }

  .xbox {
    border: solid 2px $colorXbox;
    color: $colorXbox;
    background-color: $color-background-light;
  }

  .playstation {
    border: solid 2px $colorPlaystation;
    color: $colorPlaystation;
    background-color: $color-background-light;
  }

  .nintendo {
    border: solid 2px $colorNintendo;
    color: $colorNintendo;
    background-color: $color-background-light;
  }
}

@media (max-width: 576px) {
  .container {
    font-size: $extra-large-size + 10px;

    .iconBox {
      width: 90px;
      height: 90px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .iconBoxAll {
      font-size: $medium-size;
    }

    p {
      font-size: $small-size;
    }
  }
}
