@import '../../../../styles/settings.scss';

.container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;

  .form {
    max-width: 400px;
    flex: 1;
    margin-top: 50px;

    div {
      margin-bottom: 15px;

      label {
        font-size: $medium-size;
        font-family: $font-text;
        color: $color-text;
      }
    }

    .buttonBox {
      text-align: center;
    }
  }
}

@media (max-width: 1016px) {
  .container {
    flex-direction: column;
  }
}
