$color-text: #141414;
$color-text-light: #ffffff;
$color-text-bright: #fff;
$color-primary: #b91919;
$color-secondary: #218c74;
$color-background: #f7f7f7;
$color-border: #e0e0e0;

$main-menu-color-background: #00000063;

$font-header: 'Source Sans Pro', sans-serif;
$font-text: 'Source Sans Pro', sans-serif;

$radius: 5px;
$radius-large: 10px;
$base-size: 14px;
$small-size: 14px;
$medium-size: 16px;
$large-size: 18px;
$slide-font-size: 36px;
$transition: all 0.5s;
$shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

$iconSize: 50px;
