@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Mulish:wght@300&display=swap');

$color-text: #141414;
$color-text-light: #ffffff;
$color-text-promotion: #ec534a;
$color-text-danger: #ff0000;
$color-background-light: #ffffff;
$color-background-lighter: #f7f7f7;
$color-background-lightest: #e7e7e7;
$main-menu-color-background: #0000002d;

$color-section1: #2d445b;
$color-background-footer: #2d445b;
$color-background-banner-1: #2d445b;
$color-background-banner-2: #4ca1af;
$color-border-footer: #f39c12;

$color-border: #e0e0e0;
$color-border-dark: #000000;

$font-header: 'Merriweather', serif;
$font-text: 'Mulish', sans-serif;

$radius: 5px;
$radius-large: 10px;
$radius-xlarge: 30px;
$radius-round: 50%;
$base-size: 14px;
$small-size: 12px;
$medium-size: 16px;
$large-size: 18px;
$extra-large-size: 24px;
$title-size: 50px;
$slide-font-size: 36px;
$transition: all 0.5s;
$transitionLong: all 1s;
$shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
$shadow-large: 8px 8px 24px 0px rgba(66, 68, 90, 1);

$iconSize: 60px;
$colorXbox: #107c10;
$colorPlaystation: #0066cc;
$colorNintendo: #e60012;
$colorWindows: #00a2ff;
$colorAllGames: #1199a7;
